<h1>Current Weather for {{ city }}</h1>

<div>
  <div class="row">
    <div class="col-md-12">
      <img src="https://openweathermap.org/img/wn/{{weatherResult.weather[0].icon}}@2x.png ">
      <p class="text-capitalize">{{weatherResult.weather[0].description}}</p>
    </div>
    <div class="col-md-12">
      <h2>5-Day Forecast (Every 3 Hours From Now)</h2>
      <div ng-repeat="result in weatherForecastResult.list">
        <div class="row">
          <div class="col-md-12">
            <forecast-result/>
          </div>
        </div>
    </div>
  </div>

</div>